@*<!DOCTYPE html>
    <html class="no-js">*@
@*<head>
        <meta charset="utcf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>وبسایت آموزش پایتون</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>*@

<div>
    <div ng-view></div>
</div>