.pyH_Nav {
    display: flex !important;
    border-radius: 0px !important;
    background-color:#fff;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    padding-right: 0px !important;
    padding-left: 20px !important;
    height: 60px !important;
    padding-top: 10px !important;
}

.pyH_NavbarNav {
    padding-right: 0px !important;
    flex-direction: row !important;
}

.pyH_MenuItem {
    color: #898a8e !important;
    margin-right: 30px;
    font-size: 15px;
    font-family: IRANSans;
}

    .pyH_MenuItem:hover {
        color: #0c1115 !important;
    }

.pyH_MenuItemBtn {
    margin-right: 30px;
    font-size: 15px;
    margin-top: -4px;
    background-color: #017a9b;
    color: white;
    border: none;
    font-family: IRANSans;
}

    .pyH_MenuItemBtn:hover {
        background-color: #016682;
    }


.pyH_Footer {
    background-color: #263555;
    margin-top: 50px;
    padding: 80px;
    padding-bottom: 100px;
    font-family: IRANSans;
    color: white !important;
    font-size: 12px;
    line-height: 25px !important;
}

.pyH_FooterLink {
    color: white !important;
    font-family:Yekan;
    font-size:12px
}


@media only screen and (max-device-width: 600px) {

    .pyH_MenuItem {
        font-size: 32px;
        margin-left: 40px;
        padding: 0px
    }

    .pyH_MenuItemBtn {
        font-size: 34px;
    }

    .pyH_Nav {
        height: 70px !important;
    }

    .pyMobileHide{
        display: none;
    }
}