


.lesBody {
    height: 100% !important;
    overflow-y: auto !important;
}

.lesBodyFile {
    overflow: auto !important;
    font-family: Tahoma;
    direction: ltr;
    height: 55% !important;
    background-color: #fff;
}

.lesBtnFileDiv {
    background-color: black;
    border-bottom: 1px solid #cccccc;
}

.lesBodyCompiler {
    padding: 0px !important;
    direction: ltr !important;
    height: calc(100% - 60px) !important;
    overflow-y: auto;
    background-color: black;
}

.lesBodyEditor {
    overflow-y: visible !important;
}


.lesImage {
    display: block !important;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 25px !important;
}


.lesBtnFile {
    color: white !important;
    border: none;
    font-weight: bold;
    width: auto;
    z-index: 2;
    background-color: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 5px
}

.lesBtnScriptPy{
    float: left;
    left:0px;
    margin-left: 0px;
    color: white;
}

.pyLS_HelpMenu {
    font-family: IRANSans !important;
    font-size: 14px
}


.pyLS_Footer {
    border-radius: 0px !important;
    background-color: #4c535f;
    height: 55px;
}

.pyLS_FooterPageNum {
    color: white;
    font-size: 16px;
    font-family: IRANSans;
	margin-top: 7px;
}

.pyLS_LesMain {
    margin: 0%;
    margin-top: 55px;
    /*7.3vh*/
}

.pyLS_LesSubMain {
    height: 83.5vh !important;
    padding: 0px !important;
    overflow: visible
}

.pyLS_btnPrevNext {
    padding: 6px 28px 6px 28px !important;
    background-color: #4c535f;
    border-color: white;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-family: IRANSans;
	font-size:15px;
}

.pyLS_CrsTitle {
    position: absolute;
    top: -35px;
    color: white;
    z-index: 999999;
    margin-right: 100vh;
    width: 70vh !important
}

.pyLS_lesTitle {
    color: white;
    margin-right: 20px;
    font-family: IRANSans;
}

.pyLS_Result {
    height: auto;
    width: 100%;
    direction: ltr;
    font-size: 17px !important;
    font-family: Consolas;
    color: white;
    background-color: black;
    overflow: unset;
}

.pyLS_ResultTxt {
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: block;
    width: 95%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    resize: none;
    caret-color: transparent;
    text-align: left;
	margin-bottom: 20px;
    margin-left: 20px;
}

.pyLS_VarsTxt {
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    resize: none;
    caret-color: transparent;
}

.pyLS_ResultTitle {
    font-family: IRANSans;
	border-top: 1px solid #ccc;
    font-size: 12px;
    color: #636983;
	display: flex;
    direction: ltr;
    padding-left: 5px;
    padding-top: 10px;
}

.pyLS_Btns {
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;
    resize: none;
    overflow: auto;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 1px;
    position: absolute;
    bottom: 0px;
	background-color: #2b2b2b;
}

.pyLS_btn {
    font-size: 14px;
    border-radius: 5px;
    padding: 6px 28px 6px 28px !important;
	font-family: ingra,sans-serif !important;
}

.pyLS_btnRunCode {
    background-color: #ffffff;
    color: #30394b;
    margin-left: 20px
}

.pyLS_BtnsDiv {
    float: left;
    margin-top: 1.4vh;
    left: 0px;
}

.pyLS_btnSubAns {
    margin-left: 20px;
    background-color: #61d199;
    color: white;
}

.pyLS_btnNew {
    border-radius: 5px;
    margin-left: 10px;
    background-color: inherit !important;
    color: white;
}

.pyLS_btnConsole {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    margin-right: 20px
}

.pyLS_Console {
    width: 100% !important;
    height: 100% !important;
    background-color: black;
    color: white;
    direction: ltr;
    font-family: Calibri;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 1px;
}

.pyLS_btnSubAns:hover {
    background-color: #39ac95;
}

.pyLS_btnRunCode:hover {
    background-color: #dae2f1;
}

.pyLS_btnPrevNext:hover,
pyLS_btnConsole:hover {
    background-color: white;
    color: #4c535f
}

.pyLS_btnConsole:hover,
pyLS_btnNew:hover {
    background-color: white;
    color: #2b2b2b
}

.pyLS_btnNew:hover {
    background-color: white !important;
    color: #2b2b2b
}

.pyLS_Sidebar {
    padding: 30px 0px 40px 0px;
    background-color: #222b49 !important;
    height: calc(100vh - 55px) !important;
    width: 23vw;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 55px;
    direction: ltr;
    font-family: IRANSans;
}

.pyLS_SidebarItem {
    background-color: #222b49 !important;
    color: #8f96a3;
    font-size: 15px;
    border-radius: 0px !important;
    border: none;
    direction: rtl;
}

.pyLS_SidebarItem:hover {
    color: #61d199;
    font-family: IRANSans;
}

.pyLS_SidebarTitle {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.pyLS_SidebarLine {
    border-color: white !important;
}

.pyLS_SidebarTitleDesc {
    font-size: 12px;
    color: #8f96a3;
}

.pyLS_SidebarList {
    height: 80% !important;
    overflow-y: auto;
    padding-right: 30px;
    position: relative;
}

.pyLS_SidebarItemActive {
    color: white !important
}

.pyLS_VarsHeader{
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px
}

.pyLS_VarsHeader:hover{
    text-decoration: none;
}

.pyLS_VarsItem{
    margin-left: 33px;
    margin-bottom: 15px;
    margin-top: 5px;
}


.pyLS_NiceWork {
    color: #61d199;
}


.pyLS_NextScreenBtn{
    font-family: Yekan !important; 
    font-size: 16px
}

.pyLS_NextScreenClose:hover {
    color: #dae2f1 !important
}


.pyLS_NextScreenDiv {
    bottom: 70px;
    position: absolute;
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    padding: 20px
}

.pyLS_ResetCodeDiv {
    width: 40%;
    margin-right: 30%;
    background-color: #d6ddeb;
    padding: 40px 30px;
}

.pyLS_ResetCodeBtn {
    border-radius: 0px !important;
    padding: 15px 40px  !important;
}

.pyLS_ResetCodeClose {
    background-color: white;
    color: #4d5266;
    border-color: white
}

.pyLS_ResetCodeOk {
    background-color: #2a54a7;
    border-color: #2a54a7;
}

.pyLS_ResetCodeBtn:hover {
    background-color: #30394b;
    color: white;
    border-color: #30394b;
}

.pyLS_LesMainDisable {
    opacity: 0.3;
    pointer-events: none
}

.pyLS_LesMainEnable {
    opacity: 1;
    pointer-events:all
}

.pyLS_True {
    color: #3cc33f;
}

.pyLS_False {
    color: #db5e5c;
}

.pyUnclickable {
    cursor: default !important;
}

.collapsing {
    transition: none !important;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}
.container111 {
  display: inline-block;
  cursor: pointer;
}



@media only screen and (max-device-width: 600px) {

    .lesContent, .pyHighlight, .lesBtnFile, .pyLS_ResultTitle, .pyLS_ResultTxt {
        font-size: 32px !important
    }

    .lesContent > ol > li, .lesContent {
        line-height: 2em
    }
    
    .pyLS_LesMain{
        max-height: 100vh !important;
    }
    
    #divLesson{
        overflow: scroll;
        height: 60vh !important;
    }
    
    #divCompiler{
        overflow: scroll;
        height: 40vh !important;
    }
    
    .CodeMirror-sizer, .lesBtnFileDiv{
        font-size: 35px
    }
    .pyCH_CoursePage{
        font-size: 25px !important;
        height: auto;
        padding: 30px 0px;
    }

    .bar{
        font-size: 40px !important;
        height: auto;
        padding: 30px
    }

    .div_3{
        font-size: 30px !important;
        padding: 20px
    }

    .pyLS_CrsTitle{
        margin-right: 15vw !important;
        width: 60vw !important;
        font-size: 30px;
        top: 0.5% !important;
    }

    #pyLS_Footer_Right, #pyLS_Footer_Left, .pyLS_btnConsole {
        display: none !important;
    }
    
    #pyLS_Footer_Center{
        max-width: 100vw !important;
        flex: 0 0 100%;
    }
    
    
    .pyLS_btnPrevNext, .pyLS_FooterPageNum {
        font-size: 35px;
        padding: 10px 20px 10px 20px !important;
        margin: 10px
    }
    
    .pyLS_Footer{
        height: 80px;
        padding: 40px;
    }
    
    .pyLS_Btns {
        margin-bottom: 80px;
        height:auto;
        position: fixed;
        padding: 0px !important;
    }
    

    .pyLS_btn, #btn_clearCode {
        font-size: 40px;
    }


    .lesImage{
        width: 80%;
        max-width: 80%
    }

    .pyLS_HelpMenu{
        font-size: 28px !important
    }
}