.pyLg_MainDiv{
    height: 100vh;
    margin-right: 0px;
}

.pyLg_MainDivBody{
    margin: 0px;
    margin-right: 25%;
}

.pyLg_VerticalCenter {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pyLg_Title{
    font-size: 2rem;
    color: #4d5266;
}

.pyLg_TitleChP {
    font-size: 1.8rem;
    color: #4d5266;
}

.pyLg_TitleDesc{
    margin-top: 20px;
    font-size: 14px;
    color: #4d5266;
    float: left;
}

.pyLg_Label{
    color: #4d5266;
    font-size:14px;
}



.pyLg_Txt{
    padding: 23px 20px 23px 20px;
    background-color: #f4f6fb;
    border-radius: 5px;
    text-align:right !important
}

.pyLg_Txt:focus{
    border-color: #33cc99;
    box-shadow: none;
    background-color: #f4f6fb;
}

.pyLg_Txt::placeholder{
    color:#878f90;
    font-size:12px;
}

.pyLg_BtnLogin{
    padding: 14px 28px 14px 28px;
    background-color: #61d199 !important;
    border-color: #61d199 !important;
}

.pyLg_BtnLogin:hover{
    background-color: #39ac95 !important;
}

.pyLg_BtnGoogle{
    padding: 14px 28px 14px 28px;
    background-color: white;
    border-color: #d4d4d4;
    color: #4d5266;
}

.pyLg_BtnGoogle:hover{
    background-color: #e9f0fb
}

.pyLg_LeftDiv{
    background-image: linear-gradient(143deg, rgba(37, 56, 104, 0.9) 0%, rgba(78, 126, 222, 0.9) 100%), url("/Template/images/LoginPic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 100%;
}

.pyLg_BtnIcon{
    height: 20px !important;
    line-break: 20px;
}





@media only screen and (max-device-width: 480px) {

.pyLg_Label{
    font-size:2em;
}
    
    .pyLg_Title{
    font-size: 3.5rem;
}

.pyLg_TitleChP {
    font-size: 1.8rem;
}
    
    .pyLg_MainDivBody{
        margin-right: 10%;
        width: 80% !important;
    }
    
    .pyLg_Txt{
        font-size: 2.5em;
        padding: 1em 1em 1em 1em;
    }
    
    .pyLg_BtnLogin, .pyLg_BtnGoogle{
        font-size: 2.3em;
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
    
    .pyLg_Txt::placeholder{
    font-size: 0.8em;
}
    
    .pyLg_BtnIcon{
        height: 1em !important;
    }
    
    .pyLg_Small, .pyLg_TitleDesc{
        font-size: 1.8em
    }
}