<head>
    <title>Python programming | آموزش پایتون</title>
</head>
<!--<div ng-include="'./Htmls/HeaderCourse.html'"></div>-->
<div class="WaitingDiv" ng-show="loading"></div><!-- Place at bottom of page -->


<div class="pyCS_Header">
    <!--<a ng-click="LogOut()" ng-if="FullName != 'کاربر مهمان'" style="margin-right:2%;font-family:'IranSANS';float:right !important;" class="TopItems" onclick="return false" href="#" title="خروج ">خروج </a>
    <a ng-if="FullName != 'کاربر مهمان'" data-toggle="modal" data-target="#ChangePassModal" href="#" data-whatever="@mdo" class="TopItems" title="تغییر رمز عبور"><span class="zmdi zmdi-hc-lg zmdi-lock"></span></a>-->
    <div class="col-lg-12 pyCS_SubHeader">
        <h2 class="font-weight-bold pyCS_Welcome">{{FullName}}  خوش آمدید</h2>
        <h5 class="pyCS_UnderWelcome">یادگیری را ادامه دهید:  <b>برنامه نویسی با پایتون</b></h5>
         <a class="btn btn-primary pyCS_ResumeBtn" ng-click="ContinueCourse()">ادامه دوره</a>
        <p class="pb-3 pyCS_UnderWelcome text-warning" ng-bind-html="ReturnHtml(TimeLeft)"></p>
    </div>


    <div class="row pyCS_SubLRHeader">
        <div class="pyCS_SubMiniHeader shadow-sm">
            <div class="pyCS_SubMiniInternal">
                <small class="text-muted float-left">
                    سطح {{ReturnInt(ActivePath)}} از {{Paths.length}}
                </small>
                <!--<label class="pyCS_CurPathTitle">تغییر دوره: </label>-->
                <label class="pyCS_CurPath">دوره فعلی: {{Paths[ActivePath].name}}</label>
                <br />
                <button class="btn btn-outline-light pyCS_ChangePathBtn" data-toggle="modal" data-target="#ChangePathModal">
                    تغییر دوره
                    <i class="zmdi zmdi-edit pyCS_ChangePathIcon"></i>
                </button>
                <!--  <span class="badge badge-success pyCS_badgeCompeleted">45% تمام شده</span>   temperory commenting -->
                <br />
            </div>
        </div>

        <div class="pyCS_SubMiniHeader mr-4 shadow-sm">
            <div class="pyCS_SubMiniInternal">
                <div class="row" style="height: 30px !important">
                    <div class="col-md-6">
                        <label class="pyCS_CurPathTitle">تعداد کورس ها:  </label>
                    </div>
                    <div class="col-md-6">
                        <label class="pyCS_CurPathTitle">تعداد مسیر ها</label>
                    </div>
                </div>

                <div class="pyCS_PathAmountDad">
                    <div class="row" style="height: 33px !important;">
                        <div class="col-md-6">
                            <label class="pyCS_PathAmount">521 </label>
                        </div>
                        <div class="col-md-3 pyCS_PathAmountDad">
                            <label class="pyCS_PathAmount">4</label>
                        </div>
                        <div class="col-md-3">
                            <label class="pyCS_PathAmount">24</label>
                        </div>
                    </div>

                    <div class="row pt-0">
                        <div class="col-md-6">
                            <label class="pyCS_CurPathSub">به زودی کورس های جدید اضافه می شود</label>
                        </div>
                        <div class="col-md-3">
                            <label class="pyCS_CurPathSub">مسیر</label>
                        </div>
                        <div class="col-md-3">
                            <label class="pyCS_CurPathSub">پروژه</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="pyCS_CourseDiv">
    <div class="tab-content" id="mmyTabContent2">
        <!--<ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item pyCS_FirstTabsLi">
                <a class="nav-link NoRadius pyCS_FirstTab active" id="tabP1" ng-class="{active: $index == 0}" data-toggle="tab" onclick="return false;" href="#contentP1" role="tab" aria-controls="contentP1">
                    <span class="zmdi zmdi-mail-send"></span>  مسیر فعلی
                </a>
            </li>
               <li class="nav-item pyCS_FirstTabsLi">
                   <a class="nav-link NoRadius pyCS_FirstTab" id="tabP22" ng-class="{active: $index == 0}" data-toggle="tab" onclick="return false;" href="#contentP22" role="tab" aria-controls="contentP22">
                       <span class="zmdi zmdi-calendar"></span>  گزارش هفتگی
                   </a>
               </li>
               <li class="nav-item pyCS_FirstTabsLi">
                   <a class="nav-link NoRadius pyCS_FirstTab" id="tabP33" ng-class="{active: $index == 0}" data-toggle="tab" onclick="return false;" href="#contentP33" role="tab" aria-controls="contentP33">
                       <span class="zmdi zmdi-code"></span>   تمرین
                   </a>
               </li> 
        </ul>-->


        <div ng-repeat="p in Paths" id="contentP{{p.id}}" class="tab-pane fade show pyCS_StepTabsDiv mt-2" ng-class="{active: $index == ActivePath}" role="tabpanel" aria-labelledby="tabP{{p.id}}">
            <div class="tab-content" id="myTabContent">
                <div class="container">

                    <ul class="row nav nav-tabs" id="myTab" role="tablist">
                        <li ng-repeat="ll in Levels" class="nav-item shadow-sm">
                            <a class="nav-link NoRadius pyCS_StepTabs" ng-if="ll.pid==p.id && ll.hidden==false" id="tab{{ll.id}}" ng-class="{active: $index == 0}" data-toggle="tab" onclick="return false;" href="#content{{ll.id}}" role="tab" aria-controls="content{{ll.id}}">
                                {{ll.name}}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div ng-repeat="l in Levels" ng-if="l.pid===p.id" id="content{{l.id}}" class="tab-pane show" ng-class="{active: $index == 0}" role="tabpanel" aria-labelledby="tab{{l.id}}">
                            <div>
                                <!--<h5 class="pyCS_LevelDesc">{{l.desc}}</h5>-->

                                <div ng-repeat="s in Seasons | orderBy:'number'" ng-if="s.lid==l.id" class="list-group mt-1  shadow-sm" >
                                    <a data-toggle="collapse" data-target="#collapse{{$index}}" class="list-group-item list-group-item-action NoRadius pyCS_Season">
                                        <!--   <label class="pyCS_SeasonLabel">دوره {{$index + 1}} / {{Seasons.length}}</label> -->
                                        <i href="#" class="pyCS_SeasonDetail">مشاهده مشخصات دوره</i>
                                        <br />
                                        {{s.name}}
                                    </a>
                                    <div id="collapse{{$index}}">
                                        <a ng-repeat="c in Courses | orderBy:'number'" ng-if="c.sid==s.id" href="#" ng-click="GoToLessons(c.id,p.permission, c.isFree)" class="list-group-item list-group-item-action pyCS_Course">
                                            {{c.isfree}}
                                            <span class="zmdi zmdi-lock text-secondary" ng-hide="HasPermission(p.permission, c.isFree)"></span>
                                            <span class="zmdi zmdi-check pyCS_Active" ng-show="HasPermission(p.permission, c.isFree)"></span>
                                            {{c.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="ChangePassModal" tabindex="-1" role="dialog" aria-labelledby="ChangePassModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChangePassModalLabel">تغییر رمز عبور</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label pyModalLabel">رمز عبور فعلی</label><span class="required"> * </span>
                        <input type="password" ng-model="OldPass" class="form-control NoRadius">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label pyModalLabel">رمز عبور جدید</label><span class="required"> * </span>
                        <span ng-if="PassRate=='بسیار ضعیف'" ng-class="'pyVeryWeak'"> <i class="zmdi zmdi-block"></i></span>
                        <span ng-if="PassRate=='ضعیف'" ng-class="'pyWeak'"> <i class="zmdi zmdi-close-circle"></i></span>
                        <span ng-if="PassRate=='خوب'" ng-class="'pyGood'"> <i class="zmdi zmdi-check"></i></span>
                        <span ng-if="PassRate=='عالی'" ng-class="'pyExcellent'"> <i class="zmdi zmdi-check-all"></i></span>
                        <input type="password" ng-model="NewPass" class="form-control NoRadius" ng-keyup="CheckPassRate(NewPass)">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label pyModalLabel">تکرار رمز عبور جدید</label><span class="required"> * </span>
                        <span ng-if="NewPassRepeat!=NewPass && NewPassRepeat!=''" ng-class="'pyVeryWeak'"><i class="zmdi zmdi-block"></i></span>
                        <span ng-if="NewPassRepeat==NewPass && NewPassRepeat!=null" ng-class="'pyExcellent'"> <i class="zmdi zmdi-check-all"></i></span>
                        <input type="password" ng-model="NewPassRepeat" class="form-control NoRadius">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="ChangePassValidation()==false" ng-click="ChangePassword()">تایید</button>
                <button id="btn_closeChangePass" type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="ChangePathModal" tabindex="-1" aria-labelledby="ChangePathModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 50% !important; max-width: 50%" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title font-weight-bold" id="ChangePassModalLabel">دوره مورد نظر خود را انتخاب کنید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div ng-repeat="p in Paths" id="Path{{p.id}}">
                        <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action flex-column mt-2" ng-class="{active: $index == ActivePath}" ng-click="ChangeActivePath($index, p.id)">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">{{p.name}}</h4>
                            </div>
                            <small class="mb-1 comment more">{{p.desc}}</small>
                        </a>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button id="btn_okChangePath" type="button" class="btn btn-primary px-4" data-dismiss="modal">تایید</button>
                <button id="btn_closeChangePath" type="button" class="btn btn-outline-secondary px-3" data-dismiss="modal">بازگشت</button>
            </div>-->
        </div>
    </div>

</div>



<script>
    $(".progress-bar").animate({
        width: "100%"
    }, 1000);
</script>


<style>
    .TopItems {
        float: left;
        color: white;
        margin-left: 1%;
        margin-top: 5%
    }

    .pyModalLabel {
        font-size: 14px
    }
</style>
