<div class="pyHP_Header">
    <div class="row pyHP_HeaderRow">
        <div class="col-xl-6 col-md-12 pyHP_HeaderTxt">
            <div class="pyHP_HeaderTxtTitle">
                برنامه نویس هوش مصنوعی شوید. روی پروژه های بزرگ کار کنید، آینده خود را تغییر دهید...
            </div>
            <div class="pyHP_HeaderTxtCapt">
                مهارت های مورد نیاز برای یافتن اولین شغل در علوم داده را فراگیرید. R، Python و SQL را بیاموزید.
                بدون هیچ پیشنیازی
            </div>
            <br />
            <div class="d-flex justify-content-center w-100">
                <button onclick="window.open('/Course/Index', '_self')" class="btn btn-default pyHP_HeaderBtnStart">از همین امروز رایگان شروع کنید</button>
            </div>
        </div>

        <div class="col-xl-6 pyHP_HeaderPicDiv d-none d-xl-block">
            <img class="pyHP_HeaderPic" src="../Template/images/HomePageHeaderPic.JPG" />
        </div>

    </div>
</div>





<div class="pyHP_SecContainer">
    <strong class="pyHP_CardTitle">سرفصل ها</strong>
    <p></p>

    <div class="text-center">
        <img style="text-align:center !important" src="../Template/images/WaitingGif.svg" ng-show="loading" />
    </div>
    <div ng-show="!loading" ng-repeat="p in Paths" class="row w-100">
        <div class="col-lg-12 col-sm-12">
            <div class="card shadow shadow-sm m-2 border-0">
                <div>
                    <small class="text-muted float-left p-4 pyHP_CardTxtRate">سطح {{$index + 1}} از {{Paths.length}}</small>
                    <div class="card-body p-5">
                        <h5 class="card-title pyHP_CardTitle">{{p.name}}</h5>
                        <small class="card-text pyHP_CardTxt text-secondary comment more">{{p.desc}}</small>
                        <div class="mt-3">
                            <ul>
                                <li class="pyHP_CardTxt" ng-repeat="c in Courses" ng-if="c.pid==p.id">
                                    {{c.name}}
                                </li>
                            </ul>

                            <!--<ul>
                                <li ng-repeat="c in Courses" ng-if="c.pid==p.id">
                                    <div class=" caret zmdi zmdi-caret-left zmdi-hc-lg"><span class="pyHP_CardTxt"> {{c.name}} </span></div>
                                    <ul class="nested">
                                        <li ng-repeat="l in c.lessons">{{l.name}}</li>
                                    </ul>
                                </li>
                            </ul>-->
                        </div>
                        <a href="#" ng-click="StartPath($index)" class="btn btn-primary pyHP_BtnCard m-t-30 float-left shadow shadow-sm">شروع کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="pyHP_MiddleDiv">
    <div class="row w-100">
        <div class="col-sm-12 d-flex  justify-content-center p-t-100">
            <img class="pyHP_MiddleGif" src="../Template/images/HomePageGif.gif" />
        </div>
    </div>

    <div class="row w-100">
        <div class="col-lg-4 col-sm-12 d-flex  justify-content-center">
            <div class="card pyHP_MidCard">
                <div class="card-body p-5 pyHP_MidCardBody">
                    <h5 class="card-title pyHP_MidCardTitle">مسیر خود را انتخاب کنید</h5>
                    <p class="card-text pyHP_MidCardTxt">آموزش برنامه نویسی را از ابتدا شروع کنید ، هیچ تجربه قبلی لازم نیست.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 d-flex  justify-content-center">
            <div class="card pyHP_MidCard">
                <div class="card-body p-5 pyHP_MidCardBody">
                    <h5 class="card-title pyHP_MidCardTitle">عملی یاد بگیرید</h5>
                    <p class="card-text pyHP_MidCardTxt">کد بنویسید ، مفاهیم جدید را در داده های واقعی اعمال کنید و فوراً نتیجه را ببینید - بدون کار اضافی!</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-flex col-sm-12 justify-content-center">
            <div class="card pyHP_MidCard">
                <div class="card-body p-5 pyHP_MidCardBody">
                    <h5 class="card-title pyHP_MidCardTitle">پروژه های خود را بسازید</h5>
                    <p class="card-text pyHP_MidCardTxt">کارشناسان ما در تمامی مراحل همراه شما هستند و در حل مشکلات کمکتان می کنند.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pyHP_MiddleBar">
    <div class="row">
        <label class="pyHP_MDivTitle w-100 text-center">تمرین، انجام پروژه، یادگیری کاربردی</label>
    </div>
    <div class="row">
        <div class="pyHP_MDivTxt w-100 text-center">PythonCoding مهارت های لازم برای شروع و پیشرفت حرفه خود در علوم داده را به شما می آموزد.</div>
    </div>
</div>


<div class="pyHP_DownBar">
    <div class="row w-100 text-center">
        <label class="pyHP_DownBarTitle w-100 text-center">فارسی زبانان در سراسر جهان با یادگیری با PythonCoding شغل ، کشور و زندگی خود را متحول کرده اند.</label>
    </div>
    <br />
    <div class="row w-100 d-flex justify-content-center">
        <button onclick="window.open('/Course/Index', '_self')" class="btn btn-default pyHP_DownBtnStart">از همین امروز شروع کنید</button>
    </div>
</div>


<div class="pyHP_QuoteBar">
    <div class="row w-100 text-center">
        <div class="col-lg-6 col-sm-12">
            <div class="card pyHP_QuoteCard">
                <div class="card-body p-5">
                    <blockquote class="blockquote mb-0">
                        <span class="zmdi zmdi-account-circle zmdi-hc-4x text-primary"></span>
                        <div class="pyHP_QuoteCardBody">
                            "PythonCoding به من یک برنامه درسی منسجم ارائه داد که شامل تمام آنچه برای یادگیری نیاز داشتم بود و یک مسیر کاملاً دقیق برای رسیدن به آنجا را در بر می گرفت."
                        </div>
                        <footer class="blockquote-footer pyHP_QuoteCardFooter"><cite title="داوود محسنی نسب">داوود محسنی نسب</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card pyHP_QuoteCard">
                <div class="card-body pyHP_QuoteCardBody p-5">
                    <blockquote class="blockquote mb-0">
                        <span class="zmdi zmdi-account-circle zmdi-hc-4x text-primary"></span>
                        <div class="pyHP_QuoteCardBody">
                            "من عاشق این بودم که PythonCoding به من فرصتی می داد تا از هرچه یاد می گیرم استفاده کنم و سپس با ساختن پروژه ها دوباره آن را تمرین می کنم."
                        </div>
                        <footer class="blockquote-footer pyHP_QuoteCardFooter"><cite title="سهیلا جباری">سهیلا جباری</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-sm-12">
            <div class="card pyHP_QuoteCard">
                <div class="card-body pyHP_QuoteCardBody p-5">
                    <blockquote class="blockquote mb-0">
                        <div class="text-center pyHP_QuoteCardBody">
                            <span class="zmdi zmdi-account-circle text-center zmdi-hc-4x text-primary"></span>
                            "من عاشق این بودم که کارشناسان شما موقع برخورد با مشکل به یاری من می آمدند و در حل مشکلات به من کمک می کردند"
                        </div>
                        <footer class="blockquote-footer text-center pyHP_QuoteCardFooter"><cite title="کوکب کوکبیان">ساناز یاوری</cite></footer>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>

