body {
    background-color: #ffffff !important;
}

.pyPM_Init {
    font-family: IRANSans
}

.pyPM_Main {
    margin-top: 6%;
    padding: 2em 4em 2em 4em;
}

.pyPM_PName {
    font-size: 2.5em;
    font-weight: bold;
}

.pyPM_PNameDesc{
    font-size: 1.2em;
    font-weight: normal
}

.pyPM_PExp {
    font-size: 17px;
    margin-top: 15px;
    line-height: 1.7;
    color: #2e2e2e;
    text-align: justify;
}

.pyPM_PTitle {
    font-size: 15px;
    color: #4d7fdf;
}

.pyPM_OptDiv {
    margin-top: 8vh;
    margin-right: 6vw
}

.pyPM_OptIcon {
    color: #4d7fdf !important;
}

.pyPM_OptTxt {
    margin-top: 10px
}

.pyPM_MiddleDiv {
    background-color: #263555;
    color: white;
    padding: 4% 10% 5% 10%;
    margin-top: 7vh
}

.pyPM_MDivTitle {
    font-size: 19px;
    font-weight: bold;
}

.pyPM_MDivTxt {
    margin-top: 10px
}

.pyPM_MDivLink {
    font-family: Inherit;
    color: #61d199;
    line-height: 3
}



.pyPM_CourseRow {
    padding: 15px;
    margin-top: 0px;
}

    .pyPM_CourseRow:hover {
        background-color: #f2f3f7
    }

.pyPM_btnCourse {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #39cf90;
    border: none;
    padding: 0px 50px 0px 50px;
    height: 45px
}

    .pyPM_btnCourse:hover {
        background-color: #30b580
    }

.pyPM_lblCName {
    font-size: 16px;
    margin-right: 10px
}

.pyPM_lblCDesc {
    font-size: 15px;
}

.pyPM_SeasonDiv {
    margin-top: 80px !important;
}

.pyPM_SeasonTitle {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 5vh
}

.pyPM_PDesc {
    font-size: 18px;
    color: #898a8e;
}


.pyPM_Header {
    background-color: #2c509b;
    height: 400px;
    display: flex;
    width:100%
}


.pyPM_SubMiniHeader {
    position: relative;
    background-color: white;
    text-align: center;
    height: 70%;
    border: solid;
    border-color: #e4e6ed;
    border-width: 1px;
    border-radius: 4px;
    width: 70% !important;
    margin: 25% 3% 30% 0%;
}


.pyPM_SubMiniInternal {
    padding: 10%;
    padding-top: 5%;
    text-align: right;
}


.pyPM_SubMiniHeaderRight {
    position: relative;
    text-align: center;
    height: 100%;
    border-radius: 4px;
    width: 70% !important;
    margin: 25% 10% 0% 0%;
}



.pyPM_SubMiniTitle {
    padding-top: 5%;
    text-align: right;
    width: 100%
}


.pyPM_CurPathTitle {
    color: #6f778d;
    font-size: 18px;
}


.pyPM_CurPath {
    color: #6f778d;
    font-size: 26px;
    font-weight: bold;
    color: #444a5e
}



@media only screen and (max-device-width: 480px) {
    .pyPM_PTitle, .pyPM_MDivLink {
        font-size: 1.8em;
    }

    .pyPM_PName, .pyPM_SeasonTitle {
        font-size: 4em
    }

    .pyPM_CurPath{
        font-size: 2.5em
    }
    .pyPM_PExp {
        font-size: 2em;
        margin-left: 80px;
    }

    .pyPM_OptTxt, .pyPM_MDivTitle {
        font-size: 2em;
    }

    .pyPM_MDivTxt, .pyPM_lblCDesc {
        font-size: 1.8em;
    }

    .pyPM_lblCName {
        font-size: 2.2em;
        font-weight: bold;
    }

    .pyPM_btnCourse {
        font-size: 2em;
        padding-right: 20px;
        padding-left: 20px;
    }

    .pyPM_PNameDesc, .pyPM_CurPathTitle {
        font-size: 2em
    }


    .pyPM_Header {
        flex-direction: column;
        height: 40vh
    }

}